body {
  background: #000;
  margin-left: 20%;
  margin-right: 20%;
}

#bpm-container {
  border: 1px solid blue;
  border-radius: 5px;
  height: 200px;
}
#bpm {
  height: 190px;
  background: #000;
  color: white;
  font-size: 10em;
  border: 0;
  width: 50%;
  margin-left: 25%;
}
#bpm-container label {
  font-size: 2em;
  color: blue;
}
.speed {
}