body {
  background: black;
  color: #0a83fc;
}

#bpm {
  font-size: 6em;
  width: 50%;
  background: black;
  border: 1px solid #0a83fc;
  border-radius: 5px;
  color: #0a83fc;
  text-align: center;
  margin: 8px 0 8px 25%;
}

.speed {
  display: block;
  width: 50%;
  margin-left: 25%;
  background: #0a83fc;
  color: black;
  font-weight: bold;
  font-size: 2em;
  border: 0;
}

.speed:hover {
  background: #2ccb1f;
}

.speed:active {
  background: black;
  color: #0a83fc;
}

#play {
  display: block;
  width: 20%;
  margin-top: 1em;
  margin-left: 40%;
  background: #2ccb1f;
  color: black;
  font-weight: bold;
  font-size: 2em;
  border: 0;
  border-radius: 5px;
}